<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableViewWithMVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>787A62C31F0CCA1200E3F0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787A62DA1F0CCA1200E3F0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>787A62E51F0CCA1200E3F0C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
